@import '../sass-globals.scss';


.channel-module {
  display: inline-block;
}

.channel-number {
  text-align: center;
  font-family: 'Ultra Regular', 'Baskerville', 'serif';
  font-size: 19px;
  line-height: 15px;
  vertical-align: top;
}

.channel-horizontal {
  height: 96px;
  border-bottom: 1px solid #dfdfdf;
  .channel-number {
    padding-top: 16px;
    width: 43px;
  }
}
