@import '../sass-globals.scss';

.channel-module {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

.channel-number {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-family: 'Ultra Regular', 'Baskerville', 'serif';
  font-size: 19px;
  line-height: 15px;
  padding-top: 16px;
  width: 43px;
  vertical-align: top;
}

.channel {
  position: relative;
}

.channel-horizontal {
  height: 96px;
  border-bottom: 1px solid $lightMediumGray;
  white-space: nowrap;
  display: inline-block;
  border-right: 1px solid $lightMediumGray;
  .mute-solo {
    height: 66px;
  }
  .arrow-small {
    width: 18px;
    position: absolute;
    left: 488px;
    top: 28px;
  }
  .flip-opposite {
    margin-left: 11px;
  }
  .sequencer {
    margin-top: 16px;
    width: 1254px;
  }
}

.channel-clock {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 16px;
  border: 1px solid $lightMediumGray;
  margin-top: -1px;
  margin-left: -1px;
  width: 758px;
  transition: width $transitionTime;
  &.drawer-closed {
    width: 602px;
  }
  .channel-number {
    padding-top: 23px;
  }
  .mute-solo {
    margin-right: 8px;
    .button {
      display: inline-block;
    }
    .mute {
      margin-bottom: 0;
      margin-right: 8px;
    }
  }
  .key {
    margin-top: 1px;
    margin-right: 32px;
    margin-left: 41px;
  }
  .arrow-clock {
    position: absolute;
    top: 27px;
    left: 186px;
    width: 119px;
  }
  .piano-roll {
    margin-top: 16px;
    margin-left: 16px;
  }
  .channel-drawer-control {
    $arrow-size: 8px;
    width: 28px;
    height: 14px;
    background: $green;
    position: absolute;
    top: 231px;
    left: 16px;
    cursor: pointer;
    .arrow-down {
      width: 0;
      height: 0;
      border-right: $arrow-size solid transparent;
      border-left: $arrow-size solid transparent;
      border-top: $arrow-size - 3px solid $darkGray;
      pointer-events: none;
      margin: 0 auto;
      margin-top: 5px;
    }
    background: $mediumGray;
    &.drawer-open {
      background: $green;
      &:hover {
        background: $greenHover;
      }
      .arrow-down {
        border-top: $arrow-size - 3px solid #ffffff;
      }
    }
  }
  .channel-clock-top {
    margin-bottom: -5px;
  }
  .channel-clock-bottom {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transitionTime;
    &.drawer-open {
      max-height: 300px;
    }
  }
}

.channel-vertical {
  &.left-vertical {
    margin-left: -4px;
  }
  display: inline-block;
  vertical-align: top;
  .channel-module {
    margin-right: 0;
    display: block;
  }
  .flip-opposite {
    margin-right: auto;
    margin-left: auto;
    width: 61px;
  }
  .num-input {
    display: block;
    margin-top: 19px;
    margin-right: auto;
    margin-left: auto;
  }
  .knob-container {
    margin-top: 0;
  }
  .dropdown-container {
    margin-top: 16px;
  }
  .key-arp-mode {
    margin-bottom: 32px;
  }
  .key-rate {
    margin-bottom: 21px;
  }
  .key-swing {
    .knob {
      margin: 0;
    }
    .knob-label {
      width: 50px;
    }
  }
}

.stacked-auxiliary {
  position: absolute;
  left: 0;
}

.border {
  height: 100%;
  border-right: 1px solid $lightMediumGray;
}
