@import '../sass-globals.scss';

.channel-module {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

.channel-number {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-family: 'Ultra Regular', 'Baskerville', 'serif';
  font-size: 19px;
  line-height: 15px;
}

.channel {
  position: relative;
}

.channel-horizontal {
  height: 96px;
  border-bottom: 1px solid #dfdfdf;
  white-space: nowrap;
  display: inline-block;
  .channel-number {
    padding-top: 16px;
    width: 43px;
    vertical-align: top;
  }
  .mute-solo {
    height: 66px;
  }
  .arrow-small {
    width: 18px;
    position: absolute;
    left: 488px;
    top: 28px;
  }
  .flip-opposite {
    margin-left: 11px;
  }
}
