@import '../sass-globals.scss';

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: $lightOrange;
  border: 1px solid $orange;
  box-sizing: border-box;
  color: $orange;
  cursor: pointer;
  outline: none;
  height: 21px;
  min-width: 52px;
  padding: 3px 25px 3px 4px;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 200ms ease;
}

.Dropdown-arrow-wrapper {
  width: 20px;
  height: 20px;
  border: 1px solid $orange;
  background-color: $lightOrange;
  position: absolute;
  right: -1px;
  top: -1px;
  &:hover {
    background-color: $darkLightOrange;
  }
}

.Dropdown-arrow {
  border-color: $orange transparent transparent;
  border-style: solid;
  border-width: 4px 6px 0;
  content: ' ';
  display: block;
  height: 0;
  width: 0;
  margin-top: 8px;
  margin-left: 4px;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent $orange;
  border-width: 0 6px 4px;
}

.Dropdown-menu {
  text-transform: uppercase;
  background-color: white;
  border: 1px solid $orange;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  min-width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: $lightTextGray;
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  color: $lightTextGray;
  cursor: pointer;
  display: block;
  padding: 4px;
  line-height: 15px;
  height: 12px;
}

.Dropdown-option:hover, .Dropdown-option.is-selected {
  background-color: $lightOrange;
  color: $orange;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.dropdown-container {
  position: relative;
  .dropdown-label {
    height: 14px;
    position: absolute;
    bottom: -2px;
  }
}