@import '../sass-globals.scss';

$margin: 12px;

#header {
  height: 60px;
  width: 100%;
  background-color: $yellow;
  display: flex;
  box-sizing: border-box;
  padding: 10px;
  color: $orange;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2001;
  #play-stop {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .header-aux {
    position: fixed;
    top: 19px;
    right: 19px;
    .aux-item {
      width: 22px;
      height: 22px;
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      cursor: pointer;
    }
    .header-settings {
      background: url('../assets/gear.png');
      background-size: 22px;
      &:hover {
        background: url('../assets/gear-hover.png');
        background-size: 22px;
      }
    }
  }
}

#logo {
  height: 40px;
  margin-right: 7px;
}

.header-item {
  margin-right: $margin;
}

.view-dropdown {
  display: none;
}

@media screen and (max-width: 1182px) {
  .scroll-to {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .view-buttons {
    display: none;
  }
  .view-dropdown {
    display: block;
  }
}

@media screen and (max-width: 943px) {
  .midi-dropdown {
    display: none;
  }
}

@media screen and (max-width: 695px) {
  .presets-container {
    display: none;
  }
}

@media screen and (max-width: 485px) {
  .view-dropdown {
    display: none;
  }
}