@import '../sass-globals.scss';

.instrument {
  margin-top: 16px;
  text-transform: uppercase;
  .instrument-switch-container {
    margin-right: 16px;
    margin-top: -1px;
    display: inline-block;
    vertical-align: top;
  }
  .instrument-switch {
    display: inline-block;
    vertical-align: middle;
  }
  .switch-label {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    line-height: 18px;
    &:first-of-type {
      margin-right: 5px;
    }
    &:last-of-type {
      margin-left: 5px;
    }
  }
  .instrument-label {
    position: absolute;
    bottom: 16px;
    font-size: 24px;
    height: 24px;
    line-height: 36px;
  }
}