@import '../sass-globals.scss';

.instrument {
  margin-top: 16px;
  text-transform: uppercase;
  .instrument-switch-container {
    margin-right: 16px;
    margin-top: -1px;
    display: inline-block;
    vertical-align: top;
  }
  .instrument-switch {
    display: inline-block;
    vertical-align: middle;
  }
  .mono-toggle {
    width: 44px;
    height: 28px;
    box-sizing: border-box;
    background-color: $lightGray;
    text-transform: uppercase;
    font-size: 19px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $lightGrayHover;
    }
    &:active {
      background-color: $mediumGray;
    }
    &.toggle-on {
      background-color: $green;
      &:hover {
        background-color: $greenHover;
      }
      &:active {
        background-color: $greenActive;
      }
    }
  }
  .switch-label {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    line-height: 18px;
    &:first-of-type {
      margin-right: 5px;
    }
    &:last-of-type {
      margin-left: 5px;
    }
  }
  .instrument-label {
    position: absolute;
    bottom: 16px;
    font-size: 24px;
    height: 24px;
    line-height: 36px;
  }
}
