@import '../sass-globals.scss';

.key {
  position: relative;
  &.piano-keys {
    height: 64px;
    vertical-align: top;
    box-sizing: border-box;
    margin-top: 16px;
    position: relative;
    .pitch-class {
      height: 38px;
      width: 16px;
      background: $darkGray;
      border: 2px solid #ffffff;
      border-top: none;
      display: inline-block;
      position: absolute;
      margin-left: -9px;
      &:hover {
        background: $darkGrayHover;
      }
      &.white-key {
        width: 23px;
        height: 100%;
        background: $lightGray;
        position: static;
        margin-left: 0;
        border-right: none;
        border-bottom: none;
        &:hover {
          background: $lightGrayHover;
        }
      }
      &.selected {
        background: $green;
        &:hover {
          background: $greenHover;
        }
      }
      &.playing {
        background: $orange;
        &:hover {
          background: $orangeHover;
        }
      }
      &:first-of-type {
        border-right: none;
      }
    }
    .piano-key-selected {
      position: absolute;
      left: 2px;
      top: 0;
      opacity: 0;
      transition: opacity $transitionTime / 1.5;
      pointer-events: none;
      path,
      rect {
        fill: none;
        stroke: $pink;
        stroke-width: 6px;
      }
      &.visible {
        opacity: 1;
      }
    }
    &.to-top {
      z-index: 2001;
    }
  }
  &.clock {
    width: 239px;
    height: 239px;
    .pitch-class {
      box-sizing: border-box;
      position: absolute;
      left: 101px;
      top: 102px;
      height: 22px;
      width: 22px;
      border-radius: 24px;
      background: $darkGray;
      &:hover {
        background: $darkGrayHover;
      }
    }
    .pitch-class-labels {
      pointer-events: none;
    }
  }
  .pitch-class {
    cursor: pointer;
    border-style: solid;
    border-color: $pink;
    border-width: 0;
    transition: border-width $transitionTime / 4;
    &.selected {
      background: $green;
      &:hover {
        background: $greenHover;
      }
    }
    &.previewed {
      border-width: 5px;
    }
  }
}
