@import '../sass-globals.scss';

.midi-input-mode {
  display: inline-block;
  vertical-align: top;
  margin-top: 19px;
  margin-right: 17px;
  margin-left: 2px;
  position: relative;
  height: 64px;
  width: 127px;
  .switch-label {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    transition: color $transitionTime;
    &.label-left {
      margin-right: 8px;
    }
    &.label-right {
      margin-left: 8px;
    }
  }
  .midi-input-mode-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    height: 24px;
    position: absolute;
    bottom: 0;
    left: 42px;
  }
}