@import '../sass-globals.scss';

$buttonSize: 28px;

.mute-solo {
  text-transform: uppercase;
  margin-top: 16px;
  margin-right: 8px !important;
  .button {
    width: $buttonSize;
    height: $buttonSize;
    font-size: 23px;
    padding: 0;
    background: $lightGray;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    &:hover {
      background: $lightGrayHover;
    }
  }
  .mute {
    margin-bottom: 8px;
    &.muted {
      color: #ffffff;
      background: $red;
      &:hover {
        background: $redHover;
      }
    }
  }
  .solo {
    &.soloed {
      color: #ffffff;
      background: $green;
      &:hover {
        background: $greenHover;
      }
    }
  }
}
