@import '../sass-globals.scss';

.piano {
  height: 97px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  overflow: visible;
  .piano-note {
    width: 10px;
    height: 57px;
    background-color: $lightTextGray;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-top: 1px;
    position: absolute;
    margin: 0;
    margin-left: -4px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    z-index: 2;
    &:first-of-type {
      border-left: none;
    }
    &.in-range {
      background-color: $darkGray;
      border-color: transparent;
      width: 7px;
      height: 55px;
      margin-left: -2px;
      transform: translate(-0.5px, 0);
    }
    &.white-key {
      width: 13px;
      border-right: none;
      position: relative;
      margin-left: 0;
      height: 100%;
      background-color: $lightGray;
      z-index: 1;
      &.in-range {
        background-color: #ffffff;
        border-color: $mediumGray;
        transform: none;
      }
      &:first-of-type {
        width: 11px;
      }
      & + .playing::after {
        display: none;
      }
    }
    &.playing {
      background-color: $orange;
      &.white-key.in-range {
        border-right: none;
        border-bottom: none;
        margin-left: 0;
        border-color: $lightOrange;
        // background-color: lighten($orange, 5%);
        background-color: $orange;
        &::before {
          content: '';
          position: absolute;
          height: 55px;
          width: 5px;
          border: 2px solid #ffffff;
          border-right: none;
          border-top: none;
          right: -3px;
        }
        &.skip-black-key::before {
          display: none;
        }
        &::after {
          content: '';
          position: absolute;
          height: 55px;
          width: 5px;
          border: 2px solid #ffffff;
          border-left: none;
          border-top: none;
          left: -3px;
        }
        & + .piano-note.in-range {
          &::after {
            content: '';
            position: absolute;
            height: 55px;
            width: 6px;
            border: 2px solid #ffffff;
            border-right: none;
            border-left: none;
            border-top: none;
            left: -3.5px;
          }
          & + .white-key.in-range {
            border-color: $lightOrange;
          }
        }
        & + .white-key.in-range {
          border-color: $lightOrange;
          &::after {
            display: none;
          }
        }
      }
    }
  }
  .piano-range {
    position: absolute;
    top: -2px;
    z-index: 1998;
    path {
      fill: none;
      stroke: $green;
      stroke-width: 2px;
      transition: filter 1.5s;
    }
  }
  .piano-range-glow {
    opacity: 0;
    pointer-events: none;
    transition: opacity $transitionTime / 2;
    path {
      filter: url(#glow);
    }
    &.show-range-glow {
      opacity: 1;
    }
  }
  .range-resize {
    height: 100%;
    position: absolute;
    top: -2px;
    z-index: 1999;
    cursor: ew-resize;
    opacity: 0.5;
    // background: red;
    // &:hover {
    //   background: lightblue;
    // }
    &:hover ~ svg {
      opacity: 1;
    }
  }
  .range-drag {
    position: absolute;
    top: -2px;
    height: 100%;
    opacity: 0.5;
    z-index: 1999;
    cursor: grab;
    // background: blue;
    // &:hover {
    //   background: yellow;
    // }
    &:hover ~ svg {
      opacity: 1;
    }
  }
}
