@import '../sass-globals.scss';

.piano-roll {
  height: 97px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  .piano-roll-note {
    height: 100%;
    width: 10px;
    height: 57px;
    background-color: $lightTextGray;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    border-top: 1px;
    position: absolute;
    margin-left: -4px;
    display: inline-block;
    box-sizing: border-box;
    &:first-of-type {
      border-left: none;
    }
    &.in-range {
      background-color: $darkGray;
      border-color: transparent;
      width: 7px;
      height: 55px;
      margin-left: -2px;
      transform: translate(-0.5px, 0);
    }
    &.white-key {
      width: 13px;
      border-right: none;
      position: static;
      margin-left: 0;
      height: 100%;
      background-color: $lightGray;
      &.in-range {
        background-color: #ffffff;
        border-color: $mediumGray;
        transform: none;
      }
      &:first-of-type {
        width: 11px;
      }
    }
  }
  .piano-roll-range {
    position: absolute;
    top: -2px;
    z-index: 1999;
    pointer-events: none;
    path {
      fill: none;
      stroke: $green;
      stroke-width: 2px;
    }
  }
}
