.knob-container {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  .knob {
    margin: 0 auto;
    cursor: grab;
    &.grabbing {
      cursor: grabbing;
    }
  }
  .knob-label {
    margin-top: 5px;
    font-size: 24px;
    height: 24px;
  }
}