@import '../sass-globals.scss';

.sequencer-container {
  display: flex;
  flex-wrap: nowrap;
  // justify-content: space-between;
}

.sequencer-controls {
  .channel-module {
    margin-right: 28px;
  }
}

.sequence-step {
  @extend .no-select;
  width: 22px;
  height: 22px;
  margin-right: 18px;
  border-radius: 24px;
  background-color: $darkGray;
  cursor: pointer;
  color: $mediumGray;
  font-weight: bold;
  text-align: center;
  line-height: 26px;

  &:hover {
    background-color: $darkGrayHover;
  }
  &.selected {
    background-color: $green;
    color: #00ad00;
    &:hover {
      background-color: $greenHover;
    }
  }
  &.playing {
    background-color: $darkerLightOrange;
    color: #e85e00;
    &:hover {
      background-color: $darkLightOrange;
    }
    &.selected {
      background-color: $orange;
      // color: #a84400;
      color: #b14700;
      &:hover {
        background-color: $orangeHover;
      }
    }
  }
}
