.settings {
  width: 220px;
  .settings-item {
    margin-top: 10px;
    .settings-label, .instrument-switch {
      display: inline-block;
      vertical-align: middle;
      height: 24px;
    }
    .instrument-switch {
      float: right;
      margin-top: -2px;
    }
    &:first-of-type {
      margin-top: 0;
    }
    .dropdown-container {
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
    }
    &.dropdown {
      height: 28px;
      display: flex;
      justify-content: space-between;
      .settings-label {
        line-height: 34px;
      }
    }
    .copy-presets {
      margin-top: 5px;
    }
  }
}