@import '../sass-globals.scss';

.split-button {
  height: 21px;
  border: 1px solid $orange;
  background-color: $lightOrange;
  box-sizing: border-box;
  color: $orange;
  cursor: pointer;
  font-size: 15px;
  .split-button-action {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid $orange;
    box-sizing: border-box;
    &:last-of-type {
      border-right: none;
    }
    &:hover {
      background-color: $darkLightOrange;
    }
    &:active {
      background-color: $darkerLightOrange;
    }
  }
  .split-button-content {
    padding: 3px 4px;
  }
  .split-button-arrow {
    width: 16px;
    &::before {
      content: '';
      position: absolute;
      top: 4px;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &.split-button-arrow-left::before {
      border-color: transparent $orange transparent transparent;
      border-width: 6px 5px 6px 0;
      left: 4px;
    }
    &.split-button-arrow-right::before {
      border-color: transparent transparent transparent $orange;
      border-width: 6px 0 6px 5px;
      left: 6px;
    }
  }
}

.split-button-container {
  position: relative;
  text-transform: uppercase;
  .split-button-label {
    height: 14px;
    position: absolute;
    bottom: -2px;
  }
}
