@import './sass-globals.scss';
$darkBackground: #090c10;
$darkMuteBackground: #1c1c23;
$lightMediumGray: #ccd0ff;
$darkMediumGray: #45454c;
$lightMediumGrayHover: lighten($lightMediumGray, 5%);
$lightMediumGrayActive: darken($lightMediumGray, 5%);
$darkDarkGray: #1e1e25;
$darkDarkGrayHover: lighten($darkDarkGray, 8%);
$darkTextGray: #383842;
$darkLightGray: #a0a0b4;
$darkDarkOrange: #9e5302;
$darkerMediumGray: #979ebf;
$pitchClassGray: #7a7f93;
$darkerMediumGrayHover: lighten($darkerMediumGray, 5%);
$darkerMediumGrayActive: darken($darkerMediumGray, 5%);
$blueHover: lighten($blue, 5%);
$blueActive: darken($blue, 3%);
$headerDarkBlue: #0f182d;
$darkGreen: darken($green, 15%);
$darkGreenHover: lighten($darkGreen, 3%);
$lighterDarkGreen: lighten($darkGreen, 6%);

.contrast-theme {
  background-color: $darkBackground;
  color: $lightMediumGray;

  textarea {
    background-color: $darkDarkGray;
    color: $lightMediumGray;
    border: 1px solid $lightMediumGray;
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .button {
    background-color: $lightMediumGray;
    color: $darkTextGray;
    &:hover {
      background-color: $lightMediumGrayHover;
    }
    &:active {
      background-color: $lightMediumGrayActive;
    }
    &.green-button {
      color: $darkBackground;
    }
    &.red-button {
      color: $darkBackground;
    }
  }

  .mute-solo {
    .button {
      color: $darkTextGray;
      background-color: $lightMediumGray;
      &:hover {
        background-color: $lightMediumGrayHover;
      }
    }
    .mute {
      &.muted {
        color: $darkBackground;
        background: $red;
        &:hover {
          background: $redHover;
        }
      }
    }
    .solo {
      &.soloed {
        color: $darkBackground;
        background: $green;
        &:hover {
          background: $greenHover;
        }
      }
    }
  }

  .midi {
    .midi-in {
      background-color: $darkerMediumGray;
      &:hover {
        background-color: lighten($darkerMediumGray, 3%);
      }
      &:active {
        background-color: darken($darkerMediumGray, 3%);
      }
      &.midi-active {
        background-color: $green;
        color: $darkBackground;
        &:hover {
          background-color: $greenHover;
        }
      }
    }
  }

  .midi-modal {
    .channel-num {
      color: $green;
    }
    border-right: 1px solid $darkBackground;
  }

  .instrument-modal {
    .controls-row, .controls-module {
      border-color: $lightMediumGray;
    }
    .controls-label {
      color: $darkerMediumGray;
    }
  }

  .switch-label {
    &.selected {
      color: $green;
    }
  }

  .border {
    border-color: $pitchClassGray;
  }

  .channel-horizontal {
    border-color: $pitchClassGray;
    .channel-number-background {
      background: linear-gradient(to right, rgba(9, 12, 16, 1) 5%, rgba(9, 12, 16, 0));
      height: 100%;
    }
    .channel-number {
      text-shadow: 0 0 5px $darkBackground;
    }
    .channel-number {
      text-shadow: 0 0 5px $darkBackground;
    }
    &.channel-in-active {
      background-color: darken($green, 35%);
      .channel-horizontal {
        background-color: darken($green, 35%);
      }
    }
  }

  .duplicate-delete {
    div {
      background-color: transparent;
    }
    .duplicate {
      background-image: url('./assets/plus-icon-light.png');
      background-size: 13px;
      &.mute {
        background-image: url('./assets/plus-icon-darker-light.png');
        background-size: 13px;
      }
      &:hover {
        background-image: url('./assets/plus-icon-green.png');
        background-size: 13px;
      }
    }
    .delete {
      background-image: url('./assets/trash-icon-light.png');
      background-size: 13px 14px;
      &.mute {
        background-image: url('./assets/trash-icon-darker-light.png');
        background-size: 13px 14px;
      }
      &:hover {
        background-image: url('./assets/trash-icon-red.png');
        background-size: 13px 14px;
      }
    }
  }

  .key {
    &.piano-keys {
      .pitch-class {
        background-color: $darkMediumGray;
        border: 2px solid $darkBackground;
        border-top: none;
        &.mute {
          border-color: $darkMuteBackground;
        }
        &:hover {
          background-color: darken($darkMediumGray, 4%);
        }
        &.white-key {
          background-color: $lightMediumGray;
          border-right: none;
          border-bottom: none;
          &:hover {
            background-color: $lightMediumGrayHover;
          }
        }
      }
    }
    &.clock {
      .pitch-class {
        background-color: darken($darkerMediumGray, 15%);
        &:hover {
          background-color: darken($darkerMediumGrayHover, 15%);
        }
        &:active {
          background-color: darken($darkerMediumGrayActive, 15%);
        }
      }
    }
    .pitch-class {
      cursor: pointer;
      border-style: solid;
      border-color: $pink;
      border-width: 0;
      transition: border-width $transitionTime / 4, border-color $transitionTime / 2,
        background-color $transitionTime / 4;
      &.selected {
        background-color: $green !important;
        &:hover {
          background-color: $greenHover !important;
        }
      }
      &.playing {
        background-color: $orangeHover !important;
        &:hover {
          background-color: $orangeHover !important;
        }
      }
      &.previewed {
        border-width: 5px;
      }
    }
  }

  .react-numeric-input {
    input {
      background-color: $darkDarkGray;
      color: $lightMediumGray;
      border: 1px solid $lightMediumGray;
      box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    b {
      border-color: $lightMediumGray;
      background-color: $lightMediumGray;
      &:hover {
        background-color: $lightMediumGrayHover;
      }
      &:active {
        background-color: $lightMediumGrayActive;
      }
    }
    b:first-of-type {
      border-bottom-color: $darkMuteBackground;
      i {
        border-color: transparent transparent $darkTextGray;
      }
    }
    b:last-of-type {
      i {
        border-color: $darkTextGray transparent transparent;
      }
    }
  }

  .num-input.small-input {
    input {
      background-color: $darkBackground;
      border: 1px solid $blue;
    }
    b {
      border-color: $blue;
      background: $blue;
      &:hover {
        background: $blueHover;
      }
      &:active {
        background-color: $blueActive;
      }
    }
    b:first-of-type {
      border-bottom-color: $headerDarkBlue;
      i {
        border-color: transparent transparent $headerDarkBlue;
      }
    }
    b:last-of-type {
      i {
        border-color: $headerDarkBlue transparent transparent;
      }
    }
  }

  #header {
    background-color: $headerDarkBlue;
    color: $blue;
    .header-aux {
      .header-settings {
        background: url('./assets/gear-blue.png');
        background-size: 22px;
        &:hover {
          background: url('./assets/gear-hover-blue.png');
          background-size: 22px;
        }
      }
    }
  }
  #header-border {
    background-color: #101d38;
  }

  .radio-buttons {
    .radio-button {
      border: 1px solid $blue;
      color: $headerDarkBlue;
      background-color: $blue;
      &:hover {
        background-color: $blueHover;
      }
      &:active {
        background-color: $blueActive;
      }
      &.radio-button-selected {
        background-color: $green;
        border: 1px solid $green;
        color: $headerDarkBlue;
      }
    }
  }

  .piano {
    $inRangeBorderColor: #3c3c3c;
    .piano-note {
      background-color: $darkMediumGray;
      border-color: $darkBackground;
      &.in-range {
        background-color: $darkDarkGray;
        border-color: transparent;
      }
      &.interactive:hover {
        background-color: $darkDarkGrayHover;
      }
      &.white-key {
        background-color: $pitchClassGray;
        &.in-range {
          background-color: $lightMediumGray;
          border-color: $inRangeBorderColor;
          &.selected {
            background-color: $darkGreen;
            border-color: $lighterDarkGreen;
          }
        }
        &.interactive:hover {
          background-color: $lightMediumGrayHover;
        }
      }
      &.selected {
        background-color: $darkGreen;
        &.interactive:hover {
          background-color: $darkGreenHover;
        }
      }
      &.playing,
      &.selected {
        &.white-key.in-range {
          &.next-black-key-near {
            &::before {
              border: 2px solid $lightMediumGray;
              border-right: none;
              border-top: none;
            }
          }
          &.next-black-key-middle {
            &::after {
              border: 2px solid $lightMediumGray;
              border-right: none;
              border-top: none;
            }
          }
          &.next-black-key-far {
            &::after {
              border: 2px solid $lightMediumGray;
              border-right: none;
              border-top: none;
            }
          }
          &.prev-black-key-near {
            &::before {
              border: 2px solid $lightMediumGray;
              border-left: none;
              border-top: none;
            }
          }
          &.prev-black-key-middle {
            &::before {
              border: 2px solid $lightMediumGray;
              border-left: none;
              border-top: none;
            }
          }
          &.prev-black-key-far {
            &::before {
              border: 2px solid $lightMediumGray;
              border-left: none;
              border-top: none;
            }
          }
          & + .piano-note.in-range {
            &::after {
              border: 2px solid $lightMediumGray;
              border-right: none;
              border-left: none;
              border-top: none;
            }
            & + .white-key.in-range {
              border-left-color: $lighterDarkGreen;
            }
          }
          & + .white-key.in-range {
            border-left-color: $lighterDarkGreen;
          }
        }
      }
      &.playing {
        background-color: darken($orange, 2%);
        &.interactive:hover {
          background-color: $orangeHover;
        }
        &.white-key.in-range {
          border-color: $darkOrange;
          background-color: $orange;
          & + .piano-note.in-range {
            & + .white-key.in-range {
              border-left-color: $darkOrange;
            }
          }
          & + .white-key.in-range {
            border-left-color: $darkOrange;
          }
          &.interactive:hover {
            background-color: $orangeHover;
          }
        }
      }
    }
    .piano-range {
      path {
        stroke: $green;
      }
    }
    .piano-border {
      border-left: 2px solid $darkBackground;
      border-right: 2px solid $darkBackground;
    }
  }

  .notes-mode {
    .notes-mode-selected {
      color: $green;
    }
  }

  .multi-select {
    background-color: $lightMediumGray;
    border: 1px solid $lightMediumGray;
    color: $darkTextGray;

    .multi-select-placeholder {
      color: lighten($darkTextGray, 7%);
    }

    .multi-select-arrow-container {
      border: 1px solid $lightMediumGray;
      border-left-color: $darkBackground;
      background-color: $lightMediumGray;
      &:hover {
        background-color: $lightMediumGrayHover;
      }
      &:active {
        background-color: $lightMediumGrayActive;
      }
    }

    .multi-select-arrow {
      border-color: $darkTextGray transparent transparent;
    }

    .multi-select-dropdown {
      background-color: $darkBackground;
      border: 1px solid $lightMediumGray;
    }

    .multi-select-option {
      color: $lightMediumGray;
      &:hover {
        background-color: $green;
        color: $darkBackground;
      }
    }

    .multi-select-selection {
      background-color: $blue;
      color: $darkBackground;
      .multi-select-remove {
        &:before,
        &:after {
          background-color: $darkBackground;
        }
        &:hover {
          &:before,
          &:after {
            background-color: $red;
          }
        }
      }
    }
  }

  .dropdown-root {
    &.open .dropdown-arrow {
      border-color: transparent transparent $darkTextGray !important;
    }
  }

  .dropdown-control {
    background-color: $lightMediumGray;
    border: 1px solid $lightMediumGray;
    color: $darkTextGray;
  }

  .dropdown-arrow-wrapper {
    border: 1px solid $lightMediumGray;
    border-left-color: $darkBackground;
    background-color: $lightMediumGray;
    &:hover {
      background-color: $lightMediumGrayHover;
    }
    &:active {
      background-color: $lightMediumGrayActive;
    }
  }

  .dropdown-arrow {
    border-color: $darkTextGray transparent transparent;
  }

  .dropdown-menu {
    background-color: $darkBackground;
    border: 1px solid $lightMediumGray;
  }

  .dropdown-menu .dropdown-group > .dropdown-title {
    color: $lightMediumGray;
  }

  .dropdown-option {
    color: $lightMediumGray;
  }

  .dropdown-option:hover,
  .dropdown-option.selected {
    background-color: $green;
    color: $darkBackground;
  }

  .dropdown-noresults {
    color: $lightMediumGray;
  }

  .dropdown-container {
    &.small-dropdown {
      .dropdown-control {
        background-color: $blue;
        border: 1px solid $blue;
        color: $headerDarkBlue;
      }
      .dropdown-arrow-wrapper {
        border: 1px solid $blue;
        border-left-color: $headerDarkBlue;
        background-color: $blue;
        &:hover {
          background-color: $blueHover;
        }
        &:active {
          background-color: $blueActive;
        }
      }
      .dropdown-arrow {
        border-color: $headerDarkBlue transparent transparent;
      }
      .dropdown-root.open .dropdown-arrow {
        border-color: transparent transparent $headerDarkBlue !important;
      }
      .dropdown-menu {
        border: 1px solid $blue;
      }
      .dropdown-option:hover,
      .dropdown-option.selected {
        background-color: $green;
        color: $darkBackground;
      }
    }
    &.dropdown-num-inputs-container {
      .dropdown-arrow-wrapper {
        z-index: 1;
      }
    }
  }

  .presets {
    border: 1px solid $blue;
    background-color: $blue;
    color: $headerDarkBlue;
    .preset-action {
      border-right-color: $headerDarkBlue;
      &:hover {
        background-color: $blueHover;
      }
      &:active {
        background-color: $blueActive;
      }
      &.disabled {
        background-color: darken($blue, 10%);
      }
    }
    input {
      background-color: $darkBackground;
      color: $lightMediumGray;
    }
    .preset-hotkey {
      background-color: $blue;
      color: $darkBackground;
    }
    .dropdown-arrow-wrapper {
      border-left-color: $blue !important;
    }
    .dropdown-control {
      border-right-color: $headerDarkBlue !important;
    }
  }

  .split-button {
    background-color: $lightMediumGray;
    .split-button-action, .split-button-content {
      &:hover {
        background-color: $lightMediumGrayHover;
      }
      &:active {
        background-color: $lightMediumGrayActive;
      }
    }
    .split-button-arrow {
      background-color: $darkerMediumGray;
      &:hover {
        background-color: lighten($darkerMediumGray, 3%);
      }
      &:active {
        background-color: darken($darkerMediumGray, 3%);
      }
      &.split-button-arrow-left {
        border-right: 1px solid $darkBackground;
        &::before {
          border-color: transparent $darkTextGray transparent transparent;
        }
      }
      &.split-button-arrow-right {
        &::before {
          border-color: transparent transparent transparent $darkTextGray;
        }
      }
    }
  }

  .split-button-container {
    &.small-split-button {
      .split-button {
        border: 1px solid $blue;
        background-color: $blue;
        color: $headerDarkBlue;
        .split-button-action {
          border-right: 1px solid $headerDarkBlue;
          &:hover {
            background-color: $blueHover;
          }
          &:active {
            background-color: $blueActive;
          }
        }
        .split-button-arrow {
          background-color: $blue;
          &.split-button-arrow-left {
            &::before {
              border-color: transparent $headerDarkBlue transparent transparent;
            }
          }
          &.split-button-arrow-right {
            &::before {
              border-color: transparent transparent transparent $headerDarkBlue;
            }
          }
        }
      }
    }
  }

  .wave-title {
    background-color: $lightMediumGray;
    color: $darkTextGray;
  }

  .sequence-step {
    background-color: $darkerMediumGray;
    color: $darkBackground;
    &:hover {
      background-color: $darkerMediumGrayHover;
    }
    &:active {
      background-color: $darkerMediumGrayActive;
    }
    &.selected {
      background-color: $green;
      &:hover {
        background-color: $greenHover;
      }
    }
    &.playing {
      background-color: $darkDarkOrange;
      &:hover {
        background-color: $darkOrange;
      }
      &.selected {
        background-color: $orange;
        color: $darkBackground;
        &:hover {
          background-color: $orangeHover;
        }
      }
    }
  }

  .knob-container {
    &.axis-knob {
      &::before {
        background: $darkBackground;
      }
    }
  }

  .channel-clock {
    border: 1px solid $pitchClassGray;
    .channel-drawer-control {
      $arrow-size: 8px;
      background-color: $lightMediumGray;
      &:hover {
        background-color: $lightMediumGrayHover;
      }
      &:active {
        background-color: $lightMediumGrayActive;
      }
      .arrow-down {
        border-top: $arrow-size - 3px solid $darkTextGray;
      }
      &.drawer-open {
        background: $green;
        &:hover {
          background: $greenHover;
        }
        .arrow-down {
          border-top: $arrow-size - 3px solid $darkBackground;
        }
      }
    }
    &.channel-in-active {
      background-color: darken($green, 35%);
    }
  }

  .modal-container {
    background-color: rgba(0, 0, 0, 0.85);
    .modal-window {
      background-color: $darkBackground;
      box-shadow: 0px 0px 6px $green;
    }
  }

  .mute {
    $muteGray: #aab1cc;
    $muteGrayHover: lighten($muteGray, 3%);
    $muteGrayActive: darken($muteGray, 3%);
    $muteDarkGray: #17171e;
    background-color: $darkMuteBackground;
    color: $muteGray;

    .button {
      background-color: $muteGray;
      color: $darkMuteBackground;
      &:hover {
        background-color: $muteGrayHover;
      }
      &:active {
        background-color: $muteGrayActive;
      }
    }

    .react-numeric-input {
      b {
        background-color: $muteGray;
        border-color: $muteGray;
        &:hover {
          background-color: $muteGrayHover;
        }
        &:active {
          background-color: $muteGrayActive;
        }
      }
      b:first-of-type {
        border-bottom-color: $darkMuteBackground;
        i {
          border-color: transparent transparent $darkMuteBackground;
        }
      }
      b:last-of-type {
        i {
          border-color: $darkMuteBackground transparent transparent;
        }
      }
      input {
        border-color: $muteGray;
        color: $muteGray;
      }
    }

    .dropdown-control,
    .dropdown-arrow-wrapper {
      border-color: $muteGray;
      background-color: $muteGray;
    }

    .dropdown-menu {
      border: 1px solid $muteGray;
      color: $muteGray;
    }

    .dropdown-arrow-wrapper {
      border-left-color: $darkMuteBackground;
      &:hover {
        background-color: $muteGrayHover;
      }
    }

    .react-switch-bg {
      background-color: $darkMediumGray !important;
    }

    .split-button {
      background-color: $muteGray;
      &:hover {
        background-color: $muteGrayHover;
      }
      .split-button-action {
        &:hover {
          background-color: $lightGrayHover;
        }
        &:active {
          background-color: $mediumGray;
        }
      }
      .split-button-arrow {
        $muteSplitButtonAction: darken($darkerMediumGray, 6%);
        background-color: $muteSplitButtonAction;
        &:hover {
          background-color: lighten($muteSplitButtonAction, 3%);
        }
        &:active {
          background-color: darken($muteSplitButtonAction, 3%);
        }
        &.split-button-arrow-left {
          border-right: 1px solid $darkBackground;
          &::before {
            border-color: transparent $darkMuteBackground transparent transparent;
          }
        }
        &.split-button-arrow-right {
          &::before {
            border-color: transparent transparent transparent $darkMuteBackground;
          }
        }
      }
    }

    .wave-title {
      background-color: $muteGray;
    }

    .piano-keys {
      .pitch-class {
        background-color: #303033;
      }
      .white-key {
        background-color: $muteGray !important;
        &:hover {
          background-color: $muteGrayHover !important;
        }
        &.selected {
          background-color: $green !important;
          &:hover {
            background-color: $greenHover !important;
          }
        }
        &.playing {
          background-color: $orange !important;
          &:hover {
            background-color: $orangeHover !important;
          }
        }
      }
    }

    &.channel-clock {
      .channel-clock-bottom.drawer-open .piano-drawer-border {
        border: 2px solid $darkBackground;
      }
    }

    &.channel-horizontal {
      .channel-number-background {
        background: linear-gradient(to right, rgba(28, 28, 35, 1) 5%, rgba(28, 28, 35, 0));
        height: 100%;
      }
      .channel-number {
        text-shadow: 0 0 5px $darkMuteBackground;
      }
    }
  }
}
